@tailwind base;
@tailwind components;
@tailwind utilities;

/*this is to hide scrollbar */
@layer utilities {
  /* for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
